{
  "env": {
    "development": {
      "presets": ["env", "react"],
      "plugins": ["add-module-exports", "transform-class-properties"]
    },
    "production": {
      "presets": ["env", "minify", "react"],
      "plugins": ["add-module-exports", "transform-class-properties"]
    }
  }
}
