@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: #525a60;
  min-height: 100vh;
  background: #fff;
}
a {
  color: #673ab7;
  text-decoration: none;
}
h2 {
  color: #000;
}
.navbar-container {
  background-color: #fff;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  border-bottom: 2px solid #673ab721;
}
.navbar-container > ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.navbar-container > ul > li {
  margin-right: 15px;
}
.navbar-container > ul > li:last-child {
  margin-right: 0;
}
.navbar-container > ul > li > a {
  font-weight: 600;
}
.jumbotron-container {
  min-height: 200px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px;
  background-image: linear-gradient(300deg, #673ab7 13%, #220b4a 65%);
}
.jumbotron-container > .title {
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
}
.jumbotron-container > .sub-title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 50px;
}
.jumbotron-container > .button {
  width: 180px;
  box-shadow: 0px 12px 18px -6px rgba(21, 95, 140, 0.3);
  border: 0;
  border-radius: 5px;
  height: 50px;
  font-size: 14px;
  background-color: #fff;
  color: #673ab7;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jumbotron-container > .button:hover {
  color: #fff;
  background-color: #673ab7;
}
.react-search-box-container .title {
  font-size: 20px;
  margin-bottom: 20px;
}
.page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}
.page-container .section {
  margin: 0 0 50px;
  width: 800px;
}
.page-container .section pre[class*='language-'] {
  margin-bottom: 50px;
  font-size: 14px;
}
